<ion-view title="Page" id="page1">
  <ion-content padding="false" scroll="false" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider1" delegate-handle="slider1" id="page-slider1" style="width:100%;height:100%;" class="Tutoslide">
      <ion-slide-page id="page-slide24" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;background-color:#864574;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;"></div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="page-slide25" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;background-color:#9F89A4;"></ion-slide-page>
      <ion-slide-page id="page-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;background-color:#A5E5C2;"></ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>
